# dodo-client
SaaS dodoのCLIツール
ドキュメントの作成やホスティングをサポートするためのツールです。


## ファイル構成
CLIはすべてgoで書かれていて、src以下にファイルは置かれています。
各コマンドはcmd_*.goというファイル名になっています。

# TestとLint
テストは以下のコマンドで実行できます。

```
make test
```

Formatは以下のコマンドで実行できます。

```
make fmt
```

Lintは以下のコマンドで実行できます。

```
make lint
```